*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
p,
li {
  color: #fff;
  line-height: 1.35rem;
}
a:hover {
  color: antiquewhite;
}
header {
  background-color: rgba(12, 71, 54, 1);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
h1,
h2 {
  color: #fff;
}
hr {
  border: none;
  height: 1px;
  background-color: white;
  margin: 2px 0px;
}
th,
td {
  padding: 4px;
  border: 1px solid;
}
.desktop-nav {
  display: flex;
  list-style-type: none;
}
.desktop-nav > a {
  padding: 15px;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -5px);
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 7px 0px;
  content: "";
  display: block;
  transition: all 0.2s ease-in-out;
}
.mobile-nav {
  width: 100%;
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 33px;
  background-color: rgba(12, 71, 54, 1);
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.mobile-nav > a {
  margin-bottom: 12px;
}
.mobile-nav.is-active {
  opacity: 100;
}
.pinewoods-sign {
  z-index: -1;
  filter: blur(3px);
  position: absolute;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  background-image: url("Assets/Images/PinewoodsDroneGif.gif");
}
.main-left,
.main-right {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-left > div,
.main-right > div,
.archives > div {
  background-color: rgba(12, 71, 54, 1);
  padding: 10px 20px;
  border-radius: 13px;
  box-shadow: 3px 3px 16px black;
}
.days {
  display: flex;
}
.days > div:not(.d4) {
  padding-right: 30px;
}
.days > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-title,
.dining-hall > h1 {
  padding-bottom: 13px;
}

.days > div > img {
  width: 70px;
}
.contacts-container > p {
  padding: 12px 0px;
}
.email-anchor,
.archives a {
  text-decoration: underline;
}
.dining-hall {
  background-color: rgba(12, 71, 54, 1);
  padding: 10px 20px;
  height: 100%;
  /* background-image: url("Assets/Images/PinewoodsSign.jpeg");
  background-position: center;
  background-size: cover; */
}
.dining-hall-subtitles {
  display: flex;
  justify-content: space-between;
}
.dining-hall-subtitles > div {
  width: 100%;
  margin: 5px 0px;
}
.dining-hall-list {
  color: white;
  padding: 10px 20px;
}
.dining-hall-list li {
  padding-bottom: 5px;
}
.dining-hall-table {
  color: white;
  padding: 10px 0px;
}
.dining-hall-preface {
  padding-top: 10px;
}
.meal-services-postface {
  padding-bottom: 10px;
}
.archives {
  display: flex;
  justify-content: space-around;
  padding: 20px 12px;
  background-size: cover;
  background-position: center;
  background-image: url("Assets/Images/VerticalBoat.jpg");
}
.archives > div > p {
  margin: 4px 0px;
}
.pinewords-flex {
  display: flex;
}
.pinewords-left {
  margin-right: 12px;
}
@media screen and (max-width: 991px) {
  /*Large tablet styles*/
  .days > div:not(.d4) {
    padding-right: 68px;
  }
  .hamburger {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .text-container {
    width: 80%;
  }
  .main {
    flex-direction: column;
  }

  .archives {
    flex-direction: column;
    align-items: center;
  }
  .archives > div:not(.dining-hall-archive) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  /*Medium tablet/phone styles*/
  .main {
    flex-direction: column;
    background-image: url("Assets/Images/DroneShoreline2.jpg");
  }
  .days {
    flex-direction: column;
  }
  .dining-hall-subtitles {
    flex-direction: column;
  }
  .dining-hall-subtitles > div {
    width: 100%;
  }
  .pinewoods-sign {
    height: 100%;
  }
  .days > div {
    padding: 0px 68px;
    margin: 10px 0px;
  }
}
