*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
p {
  color: #fff;
}
a:hover {
  color: antiquewhite;
}
header {
  background-color: rgba(12, 71, 54, 1);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
h1,
h2 {
  color: #fff;
}
.desktop-nav {
  display: flex;
  list-style-type: none;
}
.desktop-nav > a {
  padding: 15px;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -5px);
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 7px 0px;
  content: "";
  display: block;
  transition: all 0.2s ease-in-out;
}
.mobile-nav {
  width: 100%;
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 33px;
  background-color: rgba(12, 71, 54, 1);
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.mobile-nav > a {
  margin-bottom: 12px;
}
.mobile-nav.is-active {
  opacity: 100;
}
.pinewoods-sign {
  z-index: -1;
  filter: blur(3px);
  position: absolute;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-left,
.main-right {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-left > div,
.main-right > div {
  background-color: rgba(12, 71, 54, 1);
  padding: 10px 20px;
  border-radius: 13px;
}
.days {
  display: flex;
}
.days > div:not(.d4) {
  padding-right: 30px;
}
.days > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-title {
  padding-bottom: 13px;
}
.days > div > img {
  width: 70px;
}
.contacts-container > p {
  padding: 12px 0px;
}

@media screen and (max-width: 991px) {
  /*Large tablet styles*/
  .hamburger {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .pinewoods-sign {
    height: 100%;
  }
  .text-container {
    width: 80%;
  }
  .main {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  /*Medium tablet/phone styles*/
  .main {
    flex-direction: column;
  }
  .days {
    flex-direction: column;
  }
  .days > div {
    padding: 0px 68px;
    margin: 10px 0px;
  }
}
